<p>header works!</p>

<!-- app.component.html -->
<nav class="navbar">
  <ul class="menu">
    <ng-container *ngTemplateOutlet="menuTemplate; context: { items: menu, level: 1 }"></ng-container>
  </ul>
</nav>

<ng-template #menuTemplate let-items="items" let-level="level">
  <li class="menu-item" [class]="'level-' + level" *ngFor="let item of items">
    
    <button
      *ngIf="item.children?.length"
      class="menu-button"
      type="button"
      (click)="toggle(item)">
      <span>{{ item.title }}</span>
      <span>{{ item.open ? '▲' : '▼' }}</span>
    </button>

    <a
      *ngIf="!item.children?.length"
      class="menu-link"
      [href]="item.url"
      target="_blank"
      rel="noopener noreferrer">
      {{ item.title }}
    </a>

    <ul *ngIf="item.open && item.children?.length" class="submenu">
      <ng-container
        *ngTemplateOutlet="menuTemplate; context: { items: item.children, level: level + 1 }">
      </ng-container>
    </ul>

  </li>
</ng-template>